HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
